extends layout

block content
  .emotion #{emot}
  br
  .message Thank you for uploading for #{time}.
    br 
    | Check tomorrow at 
    a(href="http://snapchatclock.com/" + time) snapchatclock.com/#{time} 
    br
    | to see your snap!
