a {
  color: #00B7FF;
}

body {
  font: 14px "Arial", Arial, Arial, sans-serif;
}

.container {
  text-align: center;
  display: block;
  margin: 30px;
}

#banner {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.emotion {
  font-size: 24px;
}

.message {
  font-size: 20px;
}

.error {
  color: red;
}

#snapfile {
  margin: 0 auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.name {
  height: 600px;
  padding: 10px;
}
