a {
  color: #00B7FF;
}

body {
  margin: 20px;
  font: 14px "Arial", Arial, Arial, sans-serif;
}

.container {
  text-align: center;
  display: block;
  margin: auto;
}

#banner {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

#snap {

}

#missing {

}

.error {
  color: red;
}
